[Unit]
Description=Payment Service

[Service]
User=root
WorkingDirectory=/home/roboshop/payment

Environment=CART_HOST=172.31.5.193
Environment=USER_HOST=172.31.80.84
Environment=AMQP_HOST=172.31.87.166
Environment=AMQP_USER=roboshop
Environment=AMQP_PASS=roboshop123

ExecStart=/usr/local/bin/uwsgi --ini payment.ini
SyslogIdentifier=payment

[Install]
WantedBy=multi-user.target
